<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> <!--agregando css al documento -->
    <title th:text="${titulo}">title</title>  <!-- obteniendo variable -->
</head>
<body>
<h1 class="color-rojo" th:text="${titulo}"></h1><!-- obtener variable -->
<h2 class="color-azul">Decorando con estilos css recursos estaticos</h2>
<img th:src="@{/images/spring-logo.png}">


<!--
<table th:if="${!usuarios.isEmpty()}">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.nombre}">
        <td th:text="${usuario.apellido}">
        <td th:text="${usuario.email}">
        </td>
    </tr>
    </tbody>
</table>
-->
</body>
</html>